.GHome-room {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* height: 100vh; */
    padding: 20px;
    font-size: 40px;
    -webkit-text-stroke: 1.5px black;
    color: rgb(251, 181, 94);
    font-weight: bold;
    text-align: center;
    background-color: rgb(255, 208, 151);
    /* background-image: url("../images/Gaza2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

.countdown-timer {
    font-size: 30px;
    margin-bottom: 20px;
    margin-right: 1400px;
    border: 3px solid rgb(0, 76, 255);
    background-color: #38cff9;
    padding: 10px;
}

.GbuttonStyle{
    width: 400px;
    height: 200px;
}

#GazaMap{
    width: 536px;
}