.GHome-room {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  font-size: 40px;
  -webkit-text-stroke: 1.5px black;
  color: rgb(251, 181, 94);
  font-weight: bold;
  text-align: center;
  background-image: url('../images/GazaNight.jpg');
  background-size: 1600px 750px;
  background-repeat: no-repeat;
  background-position: center;
}

.countdown-timer {
  font-size: 30px;
  color: red;
  margin-bottom: 20px;
  margin-right: 1400px;
  border: 3px solid rgb(155, 0, 0);
  background-color: rgb(251, 181, 94);
  padding: 10px;
}

#GazaMap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 700px;
  height: 615px;
}

.GbuttonStyle {
  position: relative;
  color: rgb(251, 181, 94);
  text-decoration: none;
  font-size: 30px;
  -webkit-text-stroke: 1.5px black;
  border: 3px solid rgb(251, 181, 94);
  background-color: black;
  transition: background-color 0.3s;
  font-weight: bold;
}

.GbuttonStyle:hover {
  background-color: rgb(255, 208, 151);
}

.GbuttonStyle::before {
  content: "";
  position: absolute;
  left: 0;
  width: 200px;
  height: 100px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

#Erez::before {
  background-image: url('../images/israel2.jpg');
  background-size: 250px 100px;
  bottom: -100px;
}

#GazaPort::before {
  background-image: url('../images/GazaPort.jpg');
  background-size: 340px 100px;
  bottom: -100px;
}

#Rafiah::before {
  background-image: url('../images/Rafiah.png');
  background-size: 340px 100px;
  top: -100px;
}

.GbuttonStyle:hover::before {
  opacity: 1;
}

@keyframes enterFromTopRight {
  0% {
    transform: translate(100%, -100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.image-enter {
  animation: enterFromTopRight 0.5s ease-in-out forwards;
}