.GHome-room {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding: 20px;
    font-size: 40px;
    -webkit-text-stroke: 1.5px black;
    color: red;
    font-weight: bold;
}

.countdown-timer {
    font-size: 30px;
    margin-bottom: 20px;
    margin-right: 1400px;
    border: 3px solid red;
    background-color: #ff8989;
    padding: 10px;
}