.escape-room {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-size: 25px;
    background-image: url('./images/IsraelLand3.jpg');
    background-size: 100% 105%;
    font-weight: bold;
  }
  
  h1{
    color: rgb(223, 90, 24);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
  }
  
  .buttonRow {
    display: flex;
    justify-content: space-between;
  }
  
  .buttonStyle:hover {
    border-color: black;
    transform: scale(1.1);
    animation: pulse 1.5s infinite;
  }
  
  .buttonStyle {
    width: 300px;
    height: 200px;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 25px;
    border: 5px solid white;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-decoration: none;
  }
  
  .buttonStyle:nth-child(1) {
    background-image: url("images/airplane2.jpg");
  }
  
  .buttonStyle:nth-child(2) {
    background-image: url("images/Gaza.jpg");
  }
  
  .buttonStyle:nth-child(3) {
    background-image: url("images/Yemen.jpg");
    /* pointer-events: none; */
  }
  
  .buttonStyle:nth-child(4) {
    background-image: url("images/Spain.jpg");
  }